{% extends 'core/base.html' %}
{% block content %}
{% include "recipe/includes/menu_recipe.html" %}
{% load static %}
<div class="container mb-4">
    {% for recipe in recipe_list %}
       
    <div class="row mt-3">
        <div class="col-md-9 mx-auto text-light">
            <h2 class="section-heading mb-4">
                <span class="section-heading-lower">{{recipe.title}}</span>
            </h2>
            <div>
                <p>{{recipe.content|safe|truncatechars:"400"}}</p>
                <p>
                    <a class="btn btn-success" href="{% url 'recipes:recipe_detail' recipe.id recipe.title|slugify %}" role="button">Leer más</a>
                    <a class="btn btn-primary" onclick="agregaCarrito({{recipe.id}});">
                        Agregar al carrito
                    </a>
                    {% if request.user.is_staff %}
                        <a class="btn btn-info" href="{% url 'recipes:update' recipe.id %}" role="button">Editar</a>
                        <a class="btn btn-secondary" href="{% url 'recipes:delete' recipe.id %}" role="button">Eliminar</a> 
                    {% endif %} 
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
     
</div>


{% endblock %}

{% block contentJS %}

    <script>
        function agregaCarrito(id){
            if(cart[id]!= undefined){
                cart[id] = cart[id]+1;
            } else{
                cart[id] = 1;
            }
            localStorage.setItem('cart',JSON.stringify(cart));
            show_badge_cart();
        }
    </script>

{% endblock contentJS %}